@font-face {
    font-family: 'fs_joeybold';
    src: url('../fonts/fs_joey-bold-webfont.eot');
    src: url('../fonts/fs_joey-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fs_joey-bold-webfont.woff') format('woff'),
        url('../fonts/fs_joey-bold-webfont.ttf') format('truetype'),
        url('../fonts/fs_joey-bold-webfont.svg#fs_joeybold') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'fs_joeyheavy';
    src: url('../fonts/fs_joey-heavy-webfont.eot');
    src: url('../fonts/fs_joey-heavy-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fs_joey-heavy-webfont.woff') format('woff'),
        url('../fonts/fs_joey-heavy-webfont.ttf') format('truetype'),
        url('../fonts/fs_joey-heavy-webfont.svg#fs_joeyheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'fs_joeyitalic';
    src: url('../fonts/fs_joey-italic-webfont.eot');
    src: url('../fonts/fs_joey-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fs_joey-italic-webfont.woff') format('woff'),
        url('../fonts/fs_joey-italic-webfont.ttf') format('truetype'),
        url('../fonts/fs_joey-italic-webfont.svg#fs_joeyitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'fs_joeylight';
    src: url('../fonts/fs_joey-light-webfont.eot');
    src: url('../fonts/fs_joey-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fs_joey-light-webfont.woff') format('woff'),
        url('../fonts/fs_joey-light-webfont.ttf') format('truetype'),
        url('../fonts/fs_joey-light-webfont.svg#fs_joeylight') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'fs_joeyregular';
    src: url('../fonts/fs_joey-regular-webfont.eot');
    src: url('../fonts/fs_joey-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fs_joey-regular-webfont.woff') format('woff'),
        url('../fonts/fs_joey-regular-webfont.ttf') format('truetype'),
        url('../fonts/fs_joey-regular-webfont.svg#fs_joeyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { 
    background-color: #aaccc4;
    font-size:  20px; 
}

body, h1, h2, h3, h4, h5 { font-family: fs_joeyregular, verdana, sans-serif; }

h1, h2, h3, h4, h5 { font-weight:  bold; }

h2 { font-size: 31px; }

.article-bgcolor {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px 20px;
}

/*header section */
.header-section {
    background-color: #45e94a;
    position:  relative;
    z-index: 1;

    box-shadow: 0 0 9px 0 #222;
    -moz-box-shadow: 0 0 9px 0 #222;
    -webkit-box-shadow: 0 0 9px 0 #222;
}

.site-brand {
	background-image: url("../img/times-dental-logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
    height: 71px;
	text-indent: -9999px;
	width: 100%;
}

.site-title { 
    height: 71px;
    overflow: hidden; 
    width: 300px;
}

.top-bar {
    background: none;
    height: auto;
}

.top-bar .name { height: auto; }

.top-bar-nav {
    margin-top: 14px;
}

.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button) {
    background: none;
    font-weight: bold;
}

.top-bar-section li:not(.has-form) a:hover:not(.button),
.top-bar-section li.active:not(.has-form) a:not(.button) {
    border-radius: 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.top-bar-section li:not(.has-form) a:hover:not(.button) {
    background-color: #337ab7;
}

/* Main section */
.main-section {
    font-size: 20px;
    min-height: 980px;

    background: #31d526; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #31d526 15%, #88f78b 78%, #88f78b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(15%,#31d526), color-stop(78%,#88f78b), color-stop(100%,#88f78b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #31d526 15%,#88f78b 78%,#88f78b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #31d526 15%,#88f78b 78%,#88f78b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #31d526 15%,#88f78b 78%,#88f78b 100%); /* IE10+ */
    background: linear-gradient(135deg, #31d526 15%,#88f78b 78%,#88f78b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31d526', endColorstr='#88f78b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.main-header {
    color: #fff;
    text-shadow: 0 2px 3px #000;
}

.article-section {
    background: none repeat scroll 0 0 #eee;
    border-radius: 5px;
    padding: 5px 15px;
}

.about-home-img {
	background: url('../img/model.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    height: 289px;
    width: 100%;
}

.quick-body-msg {
    resize: none;
    height: 80px;
}

/* Appointment page */
.appointment-section {
    background-color: #f1f1f1;
    border-radius: 5px;
    margin: 0 0 40px;
    padding: 7px 12px;
}


.success-page {
    background-color: #f1f1f1;
    border-radius: 5px;
    display: block;
    min-height: 200px;
    overflow: hidden;
}

/* footer */
.footer-section {
    background-color: #000;
    color: #ccc;
    display: block;
    overflow: hidden;
    padding: 40px 0;
}

.footer-nav > a {
    display: block;
}

.landmark {
    background: url("../img/landmark.png") no-repeat scroll -220px -91px red;
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
}

.location { padding-top: 4.2%; }

.location > p { margin: 0;}

.location h4,
.location h5 { color: #ccc; }

.social-icon {
    border-radius: 5px;
    display: inline-block;
    margin: 0 2px;
    height: 40px;
    width: 40px;
}

.icon-facebook { background: url("../img/social-icons.png") no-repeat scroll -45px -5px; }

.icon-insta { background: url("../img/social-icons.png") no-repeat scroll -87px -49px; }

.icon-twitter { background: url("../img/social-icons.png") no-repeat scroll -3px -5px; }

/* Error form */
input[type="text"][disabled], 
input[type="text"][readonly] {
    background-color: #fff;
}

[data-abide] .error small.error, 
[data-abide] .error span.error, 
[data-abide] span.error, 
[data-abide] small.error,
.ci-error small.error {
    background-color: transparent !important;
    color: #ff0000;
    font-style: normal;
    margin: auto;
    padding: 0 0 5px;
}

/* slider */
.slick-dots {
    bottom: -48px;
    right: 0;
    text-align: right;
}

.slick-dots li { width: 7px; }
.slick-dots li button::before { font-size: 36px; }

